NodeRed/node-red-run/flows_hellouniverse-6.json
[{"id":"9fce9180.edbcd8","type":"tab","label":"Print NFC tokens from Serial","disabled":false,"info":""},{"id":"5cea8904.06a8c8","type":"serial-port","serialport":"/dev/tty.usbmodem141201","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"6dc3ad08.881914","type":"serial in","z":"9fce9180.edbcd8","name":"","serial":"5cea8904.06a8c8","x":270,"y":300,"wires":[["327f4083.289fe8"]]},{"id":"bde405f7.2c25e8","type":"debug","z":"9fce9180.edbcd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":300,"wires":[]},{"id":"327f4083.289fe8","type":"function","z":"9fce9180.edbcd8","name":"","func":"if (!msg.payload.startsWith('#')) return;\n\nlet hex =msg.payload.replace(/#|\\s/g,'')\nlet payload = Buffer.from(hex, 'hex')\n\nreturn {\n    ...msg,\n    hex,\n    payload\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":300,"wires":[["bde405f7.2c25e8"]]}]